/* // GRAY
$gray-001: #F8F9FA;
$gray-000: #F1F3F5;
$gray-002: #E9ECEF;
$gray-003: #DEE2E6;
$gray-004: #CED4DA;
$gray-005: #ADB5BD;
$gray-006: #868E96;
$gray-007: #495057;
$gray-008: #343A40;
$gray-009: #212529;

// DARK
$dark-001: #C1C2C5;
$dark-000: #A6A7AB;
$dark-002: #909296;
$dark-003: #5C5F66;
$dark-004: #373A40;
$dark-005: #2C2E33;
$dark-006: #25262B;
$dark-007: #1A1B1E;
$dark-008: #141517;
$dark-009: #101113;

// PINK
$pink-000: #FFF0F6;
$pink-001: #FFDEEB;
$pink-002: #FCC2D7;
$pink-003: #FAA2C1;
$pink-004: #F783AC;
$pink-005: #F06595;
$pink-006: #E64980;
$pink-007: #D6336C;
$pink-008: #C2255C;
$pink-009: #A61E4D;

// RED
$red-000: #FFF5F5;
$red-001: #FFE3E3;
$red-002: #FFC9C9;
$red-003: #FFA8A8;
$red-004: #FF8787;
$red-005: #FF6B6B;
$red-006: #FA5252;
$red-007: #F03E3E;
$red-008: #E03131;
$red-009: #C92A2A; */


/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */

/** Ionic CSS Variables **/
:root {
    --ion-color-primary: #C2255C;
    /* --ion-color-primary-rgb: 214, 152, 14;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #d5ab4f;
    --ion-color-primary-tint: #fcf2db; */
  
    /* --ion-color-secondary: white;
    --ion-color-secondary-rgb: 255, 255, 255;
    --ion-color-secondary-contrast: black;
    --ion-color-secondary-contrast-rgb: 0, 0, 0;
    --ion-color-secondary-shade: white;
    --ion-color-secondary-tint: white;
  
    /* --ion-tab-bar-background: white; */
    /* --ion-tab-bar-border-color: #72cff7; */
    --ion-font-family: 'Nunito Sans'; 
  
    /* --ion-color-secondary: #00816d;
    --ion-color-secondary-rgb: 0, 129, 109;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255, 255, 255;
    --ion-color-secondary-shade: #007260;
    --ion-color-secondary-tint: #1a8e7c;
  
    --ion-color-tertiary: #5260ff;
    --ion-color-tertiary-rgb: 82, 96, 255;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-tertiary-contrast-rgb: 255, 255, 255;
    --ion-color-tertiary-shade: #4854e0;
    --ion-color-tertiary-tint: #6370ff;
  
    --ion-color-success: #2dd36f;
    --ion-color-success-rgb: 45, 211, 111;
    --ion-color-success-contrast: #000000;
    --ion-color-success-contrast-rgb: 0, 0, 0;
    --ion-color-success-shade: #28ba62;
    --ion-color-success-tint: #42d77d;
  
    --ion-color-warning: #ffc409;
    --ion-color-warning-rgb: 255, 196, 9;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0, 0, 0;
    --ion-color-warning-shade: #e0ac08;
    --ion-color-warning-tint: #ffca22;
  
    /* --ion-color-danger: #eb445a;
    --ion-color-danger-rgb: 235, 68, 90;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255, 255, 255;
    --ion-color-danger-shade: #cf3c4f;
    --ion-color-danger-tint: #ed576b; */
  
    --ion-color-medium: #92949c;
    --ion-color-medium-rgb: 146, 148, 156;
    --ion-color-medium-contrast: #000000;
    --ion-color-medium-contrast-rgb: 0, 0, 0;
    --ion-color-medium-shade: #808289;
    --ion-color-medium-tint: #9d9fa6;
  
    --ion-color-light: #f4f5f8;
    --ion-color-light-rgb: 244, 245, 248;
    --ion-color-light-contrast: #000000;
    --ion-color-light-contrast-rgb: 0, 0, 0;
    --ion-color-light-shade: #d7d8da;
    --ion-color-light-tint: #f5f6f9; 



  }
  
  /* ion-toast.error-message {
    color: #ffffff;
    --background: #dfcc31;
    --button-color: #ffffff !important;
  } */
  
  
 
  