:root{
    --ion-color-primary: #C2255C;
    // --ion-background-color:rgb(200, 145, 27);
    --ion-background-color:rgb(255, 255, 255);
    // --ion-font-family: -apple-system, BlinkMacSystemFont, 'Helvetica', 'Roboto', 'Nunito Sans';
    --ion-font-family: 'Nunito Sans'; 





    --ion-color-medium: #92949c;
    --ion-color-medium-rgb: 146, 148, 156;
    --ion-color-medium-contrast: #000000;
    --ion-color-medium-contrast-rgb: 0, 0, 0;
    --ion-color-medium-shade: #808289;
    --ion-color-medium-tint: #9d9fa6;
}

.ios{
    
}