.main-profile-container {

    .chat-header-col {
        background-color: rgb(226, 223, 223);
        padding: 0px;
        height: 60px;
        position: relative;
        --ion-font-family: 'PrimaryFont';
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
        letter-spacing: 1.5px;
        font-size: 20px;
        font-weight: 400px;

        .chat-header-back-btn {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: start;
            height: 40px;
            width: 40px;
            top: 15%;
            left: 15px;
            z-index: 500;

        }

        .btn {
            height: 40px;
            width: 40px;
        }

        .info {
            height: 40px;
            padding-left: 70px;
            padding-right: 20px;
            margin-top: 10px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: relative;
            .name{
             font-weight: 600;
             font-size: 26px;
             margin-left: -100px;
           
            }

            .profile-avater {
                height: 45px;
                width: 45px;
                border-radius: 50%;
                background-size: cover;
                position: relative;

            }
            .online-icon{
                position: absolute;
                right: 0%;
                background-color: green;
                height: 13px;
                width: 13px;
                border-radius: 50%;
            }
            .offline-icon{
                position: absolute;
                right: 0%;
                background-color: gray;
                height: 13px;
                width: 13px;
                border-radius: 50%;
            }

            .call-box {
                display: flex;
                align-items: center;
                justify-content: center;
            }

        }





    }

    .profile-container-content {
        --padding-start: 10px;
        --padding-end: 10px;
        // --padding-bottom: 20px;
        // --padding-top: 50px;
        --background: #fefefe;





        .edit-profile-col {
            display: flex;
            justify-content: space-between;
            padding: 0px;

            .edit-profile-btn {
                height: 40px;
            }

        }

        .profile-display-name-container {

            // background-color: palevioletred;
            .profile-display-name {
                font-size: 16px;
                font-weight: 600;
            }

            .profile-username {
                font-size: 18px;
                font-weight: 500;
            }
        }

        .chat-container-right {
            margin-bottom: 5px;


            .chat-right-col {
                display: flex;
                justify-content: flex-end;
                flex-direction: column;
                align-items: end;
            }


            .chat-right {
                background-color: rgb(177, 168, 232);
                border-top-left-radius: 15px;
                border-top-right-radius: 15px;
                border-bottom-left-radius: 15px;
                text-align: left;
                align-self: right;
                max-width: 310px;
                padding: 10px;
            }
            .date-right{
                font-size: 12px;
                color: gray;
            }


        }

        .chat-container-left {
            margin-bottom: 10px;
            .chat-left-col {
                display: flex;
                justify-content: flex-start;
                flex-direction: column;
                align-items: start;
            }


            .chat-left {
                background-color: rgb(200, 199, 206);
                border-top-left-radius: 15px;
                border-top-right-radius: 15px;
                border-bottom-right-radius: 15px;
                text-align: left;
                align-self: left;
                max-width: 310px;
                padding: 10px;
            }
            .date-left{
                font-size: 12px;
                color: gray;
            }

        }

        .start-chat-info{
            color: rgb(172, 169, 169);
            font-size: 30px;
        }



    }

    .input-container {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0px 10px 0px 10px;
        gap: 10px;
        margin-bottom: 10px;
        margin-top: 10px;

        .input {
            font-size: 18px;
            // display: block;
            resize: both;
            width: 100%;
             height: 50px;
             max-height: 100px;
            padding-left: 20px;
            padding-right: 20px;
            overflow-y: hidden;
            border-radius: 20px;
            border: 2px solid gray;
        }

        .send-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: rgb(120, 57, 120);
            width: 60px;
            height: 50px;
            border-radius: 50%;
        }
    }


}