.home-page{
    .main-tab-container{
        // background-color: teal;
        z-index: 500;
        margin-top: 94vh;
        height: 60px;
        // border-radius: 30px 30px 30px 30px;
        // margin-bottom: 20px;
        // margin-left: 10px;
        // margin-right: 10px;
        // background-color: gray;
        // box-shadow: rgba(34, 34, 56, 0.25) 0px 6px 12px 8px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
        .tab-col-box {
    z-index: 500;
            // background-color: gainsboro;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            padding-top: 0px;
    
            .col-text {
                margin-bottom: 0px;
                margin-top: 0px;
                font-size: 12px;
            }
        }
    
    }
}