.header-comp-main {

    .header-col {
        height: 90px;
        position: relative;

        --ion-font-family: 'PrimaryFont';
       
        letter-spacing: 1.5px;
        font-size: 20px;
        font-weight: 400px;

        .header-back-btn {
            position: absolute;
            // background-color: aquamarine;
            display: flex;
            align-items: center;
            justify-content: start;
            height: 40px;
            width: 90px;
            top: 27%;
            left: 0px;
        }

        .btn{
            height: 40px;
            width: 120px;
        }

    }

}

.header-title1 {}